/* ----Example---- */



/* ----Base Design---- */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
    list-style: none;
}
/* 
#container {
    width: 100%;
    padding: 8px 30px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
} */

/* #panel {
    color: black;
    display: flex;
} */


/* ----header Contents---- */

header {
    color: aliceblue;
    background-color: rgb(66, 112, 209);
    height: 40px;

}

.header-wrapper {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 150px;
    min-width: 150px;
    border: solid 0.5px aliceblue;

}

.header-navi ul {
    display: flex;
}

.header-navi li {
    margin-left: 5px;
    padding: 10px 15px;
    border: solid 0.5px aliceblue;

}


/* ----Main Contents---- */

main {
    /* Twitter color */
    height: 1000px;
}


/* ----Footer Contents---- */

footer {
    background-color: rgb(94, 123, 184);
}

.copyright {
    color: aliceblue;
    line-height: 50px;
    font-size: 12px;
    padding-left: 30px;
    min-width: 250px;

}
