/* ----Example---- */



/* ----Base Design---- */

body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
  }


.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}


/* ----header Contents---- */

.top-wrapper {
    padding: 15px 0 10px 0;
    /* background-image: url(https://prog-8.com/images/html/advanced/top.png); */
    background-color: rgb(13, 108, 218);
    background-size: cover;
    color: white;
    opacity: 0.7;

  
}

.header-logo {
    width: 11px;
    min-width: 150px;
    border: solid 0.5px aliceblue;
    display: inline-block;

}

header .btn-wrapper {
    margin: 0px 0px 0px 30px;
    display: inline-block;

}

header .btn {
    padding:8px 24px;
    color:white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;

}

header .btn:hover {
    opacity:1;
}
  
header .profile {
    background-color: rgb(7, 86, 175);
}

header .post {
    background-color: rgb(7, 86, 175);
}

header .tag {
    background-color: rgb(7, 86, 175);
}

header .twitter {
    background-color: rgb(7, 86, 175);
}

header .github {
    background-color: rgb(7, 86, 175);
}

.fa {
    margin-right:5px;
}

header .line {
    width: 2px;
    height: 14px;
    border-radius: 1px;
    background-color: hsla(0,0%,100%,.2);
    margin-right: 12px;
}

.localize {
    display: inline-block;

}


/* ----Main Contents---- */

main {
    /* Twitter color */
    height: 1000px;
}


/* ----Footer Contents---- */

footer {
    background-color: rgb(94, 123, 184);
}

.copyright {
    color: aliceblue;
    line-height: 50px;
    font-size: 12px;
    padding-left: 30px;
    min-width: 250px;

}
